{% extends 'base.html.twig' %}

{% block body %}
	<div id="calendrier"></div>
{% endblock %}


{% block javascripts %}

	<script>

		window.onload = () => {
let calendarElt = document.querySelector("#calendrier");

let calendar = new FullCalendar.Calendar(calendarElt, {
initialView: 'timeGridWeek',
locale: 'fr',
firstDay: 1,
timeZone: 'Europe/Paris',
headerToolbar: {
end: 'dayGridMonth,timeGridWeek, prev,next'
},
events: {{ data|raw }},
editable: true,
eventResizableFromStart: true,
eventClick: function (info) {
alert('Description: ' + info.event.extendedProps.description);
}
});

calendar.on('eventChange', (e) => {
let url = `/api/${
e.event.id
}/edit`
let userData = {
"title": e.event.title,
"description": e.event.extendedProps.description,
"start": e.event.start,
"end": e.event.end,
"backgroundColor": e.event.backgroundColor,
"textColor": e.event.textColor,
"allDay": e.event.allDay
}

let xhr = new XMLHttpRequest

xhr.open("PUT", url)
xhr.send(JSON.stringify(userData))

})

calendar.render();
}
	</script>
{% endblock %}
