{% extends 'base.html.twig' %}

{% block body %}
	<div id="calendrier" class="h-screen w-full md:w-11/12 m-auto"></div>
{% endblock %}


{% block javascripts %}

	{% if is_granted('ROLE_COACH') %}
		<script>
			if (window.innerWidth < 768) {
window.onload = () => {
let calendarElt = document.querySelector("#calendrier");

let calendar = new FullCalendar.Calendar(calendarElt, {
initialView: 'timeGridWeek',
locale: 'fr',
firstDay: 1,
timeZone: 'Europe/Paris',
scrollTime: '08:00:00',

headerToolbar: {
left: 'title',
end: 'prev,next'
},
allDaySlot: false,
events: {{ data|raw }},
editable: true,


eventDrop: (infos) => {
if (!confirm("Êtes-vous sûr de vouloir déplacer ce créneau d'entraînement ?")) {
infos.revert();
}
},
eventResizableFromStart: true,
eventClick: function (info) {
alert('Description: ' + info.event.extendedProps.description);
}
});

calendar.on('eventChange', (e) => {
let url = `/api/${
e.event.id
}/edit`
let userData = {
"title": e.event.title,
"description": e.event.extendedProps.description,
"start": e.event.start,
"end": e.event.end,
"backgroundColor": e.event.backgroundColor,
"textColor": e.event.textColor
}

let xhr = new XMLHttpRequest

xhr.open("PUT", url)
xhr.send(JSON.stringify(userData))

});
calendar.render();
}
} else {
window.onload = () => {
let calendarElt = document.querySelector("#calendrier");

let calendar = new FullCalendar.Calendar(calendarElt, {
initialView: 'timeGridWeek',
locale: 'fr',
firstDay: 1,
timeZone: 'Europe/Paris',
scrollTime: '08:00:00',

headerToolbar: {
left: 'dayGridMonth,timeGridWeek,list',
center: 'title',
end: 'today, prev,next'
},
buttonText: {
month: 'Mois',
week: 'Semaine',
list: 'Liste',
today: 'Aujourd\'hui'
},
allDaySlot: false,
events: {{ data|raw }},
editable: true,


eventDrop: (infos) => {
if (!confirm("Êtes-vous sûr de vouloir déplacer ce créneau d'entraînement ?")) {
infos.revert();
}
},
eventResizableFromStart: true,
eventClick: function (info) {
alert('Description: ' + info.event.extendedProps.description);
}
});

calendar.on('eventChange', (e) => {
let url = `/api/${
e.event.id
}/edit`
let userData = {
"title": e.event.title,
"description": e.event.extendedProps.description,
"start": e.event.start,
"end": e.event.end,
"backgroundColor": e.event.backgroundColor,
"textColor": e.event.textColor
}

let xhr = new XMLHttpRequest

xhr.open("PUT", url)
xhr.send(JSON.stringify(userData))

});
calendar.render();
}
}
		</script>

	{% else %}


		<script>

			if (window.innerWidth < 768) {
window.onload = () => {
let calendarElt = document.querySelector("#calendrier");

let calendar = new FullCalendar.Calendar(calendarElt, {
initialView: 'timeGridWeek',
locale: 'fr',
firstDay: 1,
timeZone: 'Europe/Paris',
scrollTime: '08:00:00',
headerToolbar: {
left: 'title',
end: 'prev,next'
},
buttonText: {
month: 'Mois',
week: 'Semaine',
list: 'Liste',
today: 'Aujourd\'hui'
},
allDaySlot: false,
events: {{ data|raw }}

});
calendar.render();
}
} else {
window.onload = () => {
let calendarElt = document.querySelector("#calendrier");

let calendar = new FullCalendar.Calendar(calendarElt, {
initialView: 'timeGridWeek',
locale: 'fr',
firstDay: 1,
timeZone: 'Europe/Paris',
scrollTime: '08:00:00',
headerToolbar: {
left: 'dayGridMonth,timeGridWeek,list',
center: 'title',
end: 'today, prev,next'
},
buttonText: {
month: 'Mois',
week: 'Semaine',
list: 'Liste',
today: 'Aujourd\'hui'
},
allDaySlot: false,
events: {{ data|raw }}

});
calendar.render();
}
}
		</script>

	{% endif %}

{% endblock %}
