{{ form_start(form) }}
{{ form_widget(form) }}
<button type="Submit" class="block w-32 mx-auto my-3 p-2 text-sm text-center border rounded-lg text-greenTheme border-greenTheme hover:border-transparent hover:text-black hover:bg-green-300">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
