{{ form_start(form) }}
{{ form_widget(form) }}
<button type="Submit" class="w-full text-sm text-center my-3 p-2 border rounded-lg bg-amber-100 text-black hover:border-transparent hover:bg-amber-50">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
