{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn text-sm text-center mt-2 px-2 py-2 border rounded-lg bg-amber-200 text-black hover:border-transparent hover:text-cyan-600 hover:bg-orange-200">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
