{% extends 'base.html.twig' %}

{% block title %}Nouveau créneau
{% endblock %}

{% block body %}

	{{ include('slot/_form.html.twig') }}

	<a href="{{ path('app_slot_index') }}">Retour à la liste</a>
{% endblock %}
