{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}

{% block body %}
	<div class="my-20 max-w-md mx-auto">
		<h1 class="mb-8 text-2xl text-center">Envoyer un message</h1>
		<div class="inline">
			{{ form(form)}}
				<a class="block w-16 mx-auto mt-2 button-yellow" href="{{ path('app_message_received') }}">
					Retour
				</a>
			</div>
		</div>
	{% endblock %}
