{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}

{% block body %}
	<div class="my-20 max-w-md mx-auto">
		<h1 class="mb-8 text-2xl text-center">Envoyer un message</h1>
		<div class="inline">
			{{ form(form)}}
				<a class="text-sm text-center my-4 block mx-auto w-1/6 p-2 rounded-lg bg-amber-100 text-black hover:border-transparent hover:bg-amber-50" href="{{ path('app_message_received') }}">
					Retour
				</a>
			</div>
		</div>
	{% endblock %}
